{% extends 'base.html' %}

{% block head%}
<title> David's peers</title>
{% endblock %}

{% block body%}
<div class="content">

    <h1>The Room App </h1>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Search for rooms">
    </form>

    <h1> List of available rooms right now:</h1>
    <table>
        <tr>
            <th>Room number    </th>
            <th>Count/Capacity      </th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>CHN E45</td>
            <td>12/30</td>
            <td><a href="">More info</a></td>
        </tr>
        <tr>
            <td>HG E7</td>
            <td>152/320</td>
            <td><a href="">More info</a></td>
        </tr>
    </table>



</div>
</div>
{% endblock %}